*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    padding: 50px;
}
nav{
    display: grid;
    place-items: center;
    text-align: center;
}
nav ul a{
    list-style-type: none;
}
nav ul a{
    display: inline-block;
    padding: 50px;
    text-decoration: none;
}
.image{
    width: 20px;
    height: 20px;
}
h3{
    text-align: below;
    padding: 1px;
}
.text{
    text-align: below of the image;
} 